/* src/css/custom.css */

:root {
  /* Aksen Warna: Cyan / Electric Blue (Sleek Tech Vibe) */
  --ifm-color-primary: #0ea5e9;
  --ifm-color-primary-dark: #0284c7;
  --ifm-color-primary-darker: #0369a1;
  --ifm-color-primary-darkest: #0c4a6e;
  --ifm-color-primary-light: #38bdf8;
  --ifm-color-primary-lighter: #7dd3fc;
  --ifm-color-primary-lightest: #bae6fd;

  /* Tipografi: Sans-serif untuk bacaan, Monospace untuk kesan Tech pada Judul */
  --ifm-font-family-base: 'Inter', system-ui, -apple-system, sans-serif;
  --ifm-heading-font-family: 'JetBrains Mono', 'Fira Code', monospace;
  
  --ifm-code-font-size: 95%;
  --ifm-code-border-radius: 4px;
}

/* Dark Mode: Latar belakang ala Code Editor (Slate/Navy Dark) */
[data-theme='dark'] {
  --ifm-color-primary: #38bdf8;
  --ifm-color-primary-dark: #0ea5e9;
  --ifm-color-primary-darker: #0284c7;
  --ifm-color-primary-darkest: #0369a1;
  --ifm-color-primary-light: #7dd3fc;
  --ifm-color-primary-lighter: #bae6fd;
  --ifm-color-primary-lightest: #e0f2fe;

  --ifm-background-color: #0f172a; /* Warna Slate-900 ala terminal modern */
  --ifm-background-surface-color: #1e293b;
}

/* Kustomisasi Elemen Spesifik */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.button, button {
  border-radius: 0px !important; /* Mempertahankan kesan tegas/arsitektur */
  text-transform: uppercase;
  font-family: var(--ifm-heading-font-family);
  font-weight: 700;
  letter-spacing: 1px;
}